.idea/
admin/controller
admin/model/
admin/view/
admin/language/en-gb/
admin/language/old-bg/
catalog/controller/
catalog/model/
catalog/view/
catalog/language/old-bg/
catalog/language/en-gb/
image/
install/
system/
.htaccess.txt
config*.php
index.php
php.ini
